# Ignore everything in this directory
target
.settings
*.iml
*.iws
*.ipr
.idea
*.class

# Package Files #
*.war
*.ear

# ignore Intellij-IDEA files
*.iml
*.ipr
*.iws
*.settings
*.idea
.DS_Store

# ignore logs
*.log

# ignore target directories
target/
*.*~